$linkedinBlue1: #0072b1;
$linkedinBlue2: #0073b1;
$linkedinBlue3: #004c75;

.body{
    background-color: white !important;
    margin: 0;
    padding: 0;
}

.container-top-landing-page {
    display: grid;
    grid-template-columns: auto 1fr; /* Adjust the grid layout to position items side by side */
    gap: 100px; /* Space between items */
    align-items: center; /* Align items to the top */
    padding: 10px;
    position: relative;
}

.linkedinLogo {
    width: 450px;
    max-width: 100%; /* Ensure the logo does not overflow its container */
    margin-top: 30px;
}

.admin-btn {
    position: absolute; /* Fix the button to the top right corner of the viewport */
    top: 2%; /* Distance from the top */
    right: 5%;
    width: 300px;
    height: 100px;
    cursor: pointer;
    background-color: #FFEFE7;
    border-radius: 50px;
    outline: none;
    border: 5px solid black;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 40px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .linkedinLogo {
        width: 250px;
        margin-top: 20px;
    }

    .admin-btn {
        width: 150px;
        height: 70px;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .linkedinLogo {
        width: 180px;
        margin-top: 10px;
    }

    .admin-btn {
        width: 120px;
        height: 40px;
        font-size: 10px;
    }
}

.admin-btn:hover{
    background-color: #ffcfb7;
}

.login-wrapper {
    background-color: white;
}

.login-wrapper-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 2rem;
}

.missionary-button{
    width: 1732px;
    max-width: 90vw;
    height: 145px;
    padding: 1rem;
    margin-top: 50px;
    cursor: pointer;
    background-color: #FFEFE7;
    border-radius: 50px;
    outline: none;
    border: 5px solid black;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    transition: background-color 0.3s;
}

.social-project-button{
    width: 1732px;
    max-width: 90vw;
    height: 145px;
    padding: 1rem;
    margin-top: 50px;
    cursor: pointer;
    background-color: #FFEFE7;
    border-radius: 50px;
    outline: none;
    border: 5px solid black;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    transition: background-color 0.3s;
}

.donor-button{
    width: 1732px;
    max-width: 90vw;
    height: 145px;
    padding: 1rem;
    margin-top: 50px;
    cursor: pointer;
    background-color: #FFEFE7;
    border-radius: 50px;
    outline: none;
    border: 5px solid black;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    transition: background-color 0.3s;
}

.missionary-button:hover{
    background-color: #ffcfb7;
}

.social-project-button:hover{
    background-color: #ffcfb7;
}

.donor-button:hover{
    background-color: #ffcfb7;
}