$linkedinBlue1: #0072b1;
$linkedinBlue2: #0073b1;
$linkedinBlue3: #004c75;

.body{
    background-color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-top-landing-page {
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
    padding: 10px;
    gap: 20px; /* Adjust the gap as needed */
    position: relative;
}

.linkedinLogo {
    width: 100%;
    max-width: 450px;
    margin-top: 30px;
}

.admin-btn {
    width: 100%;
    max-width: 300px;
    height: 100px;
    cursor: pointer;
    background-color: #FFEFE7;
    border-radius: 50px;
    outline: none;
    border: 5px solid black;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 40px;
    margin-top: 20px;
    align-self: flex-end; /* Align button to the right on larger screens */
}



/*@media (max-width: 768px) {
    .linkedinLogo {
        width: 200px;
        margin-top: 20px;
    }

    .admin-btn {
        width: 150px;
        height: 70px;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .linkedinLogo {
        width: 180px;
        margin-top: 10px;
    }

    .admin-btn {
        width: 120px;
        height: 40px;
        font-size: 15px;
    }
}*/

.admin-btn:hover{
    background-color: #ffcfb7;
}

.login-wrapper {
    background-color: white;
    height: 100vh; /* Full viewport height */
    padding: 1rem;
    box-sizing: border-box;
}

.login-wrapper-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 2rem;
}

.missionary-button{
    width: 600px;
    max-width: 90vw;
    height: 100px;
    padding: 1rem;
    cursor: pointer;
    background-color: #fce6da;
    border-radius: 50px;
    outline: none;
    border: 5px solid black;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    transition: background-color 0.3s;
}

.social-project-button{
    width: 600px;
    max-width: 90vw;
    height: 100px;
    padding: 1rem;
    cursor: pointer;
    background-color: #fce6da;
    border-radius: 50px;
    outline: none;
    border: 5px solid black;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    transition: background-color 0.3s;
}

.donor-button{
    width: 600px;
    max-width: 90vw;
    height: 100px;
    padding: 1rem;
    cursor: pointer;
    background-color: #fce6da;
    border-radius: 50px;
    outline: none;
    border: 5px solid black;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    transition: background-color 0.3s;
}

.missionary-button:hover{
    background-color: #efa681;
}

.social-project-button:hover{
    background-color: #efa681;
}

.donor-button:hover{
    background-color: #efa681;
}

.hr-text-landing-page {
    border-top: 5px solid rgba(0, 0, 0, 0.3);
}

.page-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    gap: 35px;
}

.links-page-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-link-page-footer {
    font-family: system-ui;
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
    color: black;
    max-width: 1px; /* Set the maximum width */
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-wrap: break-word; /* Ensure long words break to the next line */
}

.text-link-page-footer-admin-btn{
    text-decoration: none;
    font-family: system-ui;
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
    color: black;
    max-width: 1px; /* Set the maximum width */
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-wrap: break-word; /* Ensure long words break to the next line */
    margin-top: 20px;
    align-self: flex-end; /* Align button to the right on larger screens */
}

.text-link-page-footer-admin-btn:hover{
    background-color: #ffcfb7;
}

.text-link-page-footer:hover{
    background-color: #ffcfb7;
}

.social-media-page-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.x-logo{
    width: 80px;
    margin-top: 15px;
}

.insta-logo{
    width: 80px;
    margin-top: 15px;
}

.face-logo{
    width: 80px;
    margin-top: 15px;
}