$linkedinBlue1: #0072b1;
$linkedinBlue2: #0073b1;
$linkedinBlue3: #004c75;

.body{
    margin: 0;
    padding: 0;
}

.login-wrapper-missionary {
    background-color: white !important;
    height: 100vh;
}

.container-top-missionary{
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
    padding: 10px;
    gap: 20px; /* Adjust the gap as needed */
    position: relative;
}

.MissionLogo{
    width: 100%;
    max-width: 450px;
    margin-top: 30px;
}

.login-wrapper-inner-missionary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container-missionary-btn{
}

.missionary-application-form-btn{
    width: 600px;
    max-width: 90vw;
    height: 100px;
    padding: 1rem;
    cursor: pointer;
    background-color: #fce6da;
    border-radius: 50px;
    outline: none;
    border: 5px solid black;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.missionary-application-form-btn:hover{
    background-color: #efa681;
}

.heading-missionary-forms {
    align-items: center;
    text-align: center;
    font-family: system-ui;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}

.missionary-login-button{
    width: 300px;
    height: 50px;
    cursor: pointer;
    background-color: #fce6da;
    border-radius: 30px;
    outline: none;
    border: none;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    outline: none;
    border: 2px solid black;
}

.missionary-login-button:hover{
    background-color: #efa681;
}

.back-landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.missionary-landing-btn{
    width: 600px;
    max-width: 90vw;
    height: 100px;
    padding: 1rem;
    cursor: pointer;
    background-color: #fce6da;
    border-radius: 50px;
    outline: none;
    border: 5px solid black;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.missionary-landing-btn:hover{
    background-color: #efa681;
}